:root {
  --sidebar-color: #4b2626;
  --main-bg-color: #2d2d2d;
  --accent1-color: #585260;
  --accent2-color: #707070;
  --main-text-color: #ffffff;
}

#sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--sidebar-color);
}

main {
  background-color: var(--main-bg-color);
}

body {
  color: var(--main-text-color);
}

#sidebar > img {
  margin-bottom: 5%;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: var(--main-text-color);
}

ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 0px;
}

form {
  background-color: var(--accent2-color);
  padding: 1%;
  border-radius: 25px;
}

textarea {
  resize: none;
  display: block;
  width: 100%;
  margin-bottom: 1%;
}

#resumeButton {
  color: var(--main-text-color);
  border-radius: 10px;
  background-color: var(--accent1-color);
  margin-bottom: 15%;
}

#resumeButton:hover {
  opacity: 50%;
}

.githubProject {
  background-color: var(--accent1-color);
  margin-top: 15px;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 15px;
}

.githubProject > a > h6 {
  font-size: larger;
}

.githubProject > a:hover {
  opacity: 60%;
  color: var(--main-text-color);
  text-decoration: underline;
}

#previousWork {
  height: 300px;
}

.section {
  margin-bottom: 5%;
}

.prevwork:hover {
  font-size: x-large;
  opacity: 60%;
}

.prevwork {
  margin-top: 15%;
  background-color: var(--accent2-color);
  padding: 5px;
  border-radius: 15px;
}
