#sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ff010125;
}

main {
  background-color: #000000d2;
}

body {
  color: #ffffff;
}

#sidebar > img {
  margin-bottom: 5%;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #ffffff;
}

ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 0px;
}

form {
  background-color: #d8dad32b;
  padding: 1%;
  border-radius: 25px;
}

textarea {
  resize: none;
  display: block;
  width: 100%;
  margin-bottom: 1%;
}

#resumeButton {
  border-radius: 10px;
}

#resumeButton:hover {
  opacity: 50%;
}
