#sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #0a9396;
}

main {
  background-color: #2e899b;
}

body {
  color: #001219;
}

#sidebar > img {
  margin-bottom: 5%;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #001219;
}

ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 0px;
}

form {
  background-color: #d8dad3;
  padding: 1%;
  border-radius: 25px;
}

textarea {
  resize: none;
  display: block;
  width: 100%;
  margin-bottom: 1%;
}
